<nav 
id="example-navbar" 
style="transition: background-color .3s;"
class="absolute lg:fixed top-0  z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 bg-gray-800 lg:bg-transparent">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
    <div class="lg:hidden w-full flex flex-wrap items-center justify-between">
      <span class="text-gray-100 uppercase text-xl">ICMAHA</span>

      <button
        style="background-color: rgba(0.0, 0.0, 0.0, 0.1);"
        class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block outline-none focus:outline-none"
        type="button" onclick="toggleNavbar('example-collapse-navbar')">
        
        <div class="opacity-100 flex items-center justify-center">
          <i class="text-gray-100 fas fa-bars"></i>
        </div>
      </button>
    </div>
    
    <div 
      class="hidden lg:flex flex-grow items-center justify-center mt-5 lg:mt-0 bg-transparent lg:shadow-none"
      id="example-collapse-navbar">

      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto lg:mr-auto">
        <li id="aveiro-logo" class="flex items-center px-4 mr-32" style="max-width: 200px">
          <img src="{{ "/assets/img/logo_ua.png" | relative_url }}"/>
        </li>
        <li 
        onmouseover="showDropdown('about-dropdown')"
        onmouseout="hideDropdown('about-dropdown')"
        class="flex flex-col items-start justify-center px-4 py-5 ">
          <a class="mx-auto text-white hover:text-gray-300 px-3 py-4 lg:py-2 text-sm uppercase font-bold tracking-wider"
            href="{{ site.url }}/">About</a>

          <div id="about-dropdown" class="mx-auto relative hidden">
            <div class="absolute mt-2 z-50 w-full flex flex-col items-center justify-center">
              <div class="arrow-up">
              </div>

              <ul class="text-gray-300">
                <li class="flex items-center">
                  <a href="{{ site.url }}/#invited_speakers" class="text-center text-gray-800 rounded-t-sm bg-white hover:bg-gray-300 w-48 py-3 shadow-md">Invited speakers</a>
                </li>
                <li class="flex items-center">
                  <a href="{{ site.url }}/#organizing_committee" class="text-center text-gray-800 bg-white hover:bg-gray-300 w-48 py-3 shadow-md">Organizing committee</a>
                </li>
                <li class="flex items-center">
                  <a href="{{ site.url }}/#important_dates" class="text-center text-gray-800 rounded-b-sm bg-white hover:bg-gray-300 w-48 py-3 shadow-md">Important Dates</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li 
        onmouseover="showDropdown('info-dropdown')"
        onmouseout="hideDropdown('info-dropdown')"
        class="flex flex-col items-start justify-center px-4 py-5 ">
          <a class="mx-auto text-white hover:text-gray-300 px-3 py-4 lg:py-2 text-sm uppercase font-bold tracking-wider"
            href="{{ site.url }}/info">Information</a>

          <div id="info-dropdown" class="mx-auto relative hidden">
            <div class="absolute mt-2 z-50 w-full flex flex-col items-center justify-center">
              <div class="arrow-up">
              </div>

              <ul class="text-gray-300">
                <li class="flex items-center">
                  <a href="{{ site.url }}/info#venue" class="text-center text-gray-800 rounded-t-sm bg-white hover:bg-gray-300 w-48 py-3 shadow-md">Venue</a>
                </li>
                <li class="flex items-center">
                  <a href="{{ site.url }}/info#how_to_reach_aveiro" class="text-center text-gray-800 bg-white hover:bg-gray-300 w-48 py-3 shadow-md">How to reach Aveiro</a>
                </li>
                <li class="flex items-center">
                  <a href="{{ site.url }}/info#accomodation" class="text-center text-gray-800 bg-white hover:bg-gray-300 w-48 py-3 shadow-md">Accomodation</a>
                </li>
                <!---<li class="flex items-center">
                  <a href="{{ site.url }}/info#dinner" class="text-center text-gray-800 rounded-b-sm bg-white hover:bg-gray-300 w-48 py-3 shadow-md">Dinner</a>
                </li> -->
              </ul>
            </div>
          </div>
        </li>

        <li class="flex items-center px-4 py-5">
          <a class="mx-auto text-white hover:text-gray-300 px-3 py-4 lg:py-2 text-sm uppercase font-bold tracking-wider"
            href="{{ site.url }}/program">Program</a>
        </li>

        <li class="flex items-center px-4 py-5">
          <a
            href="{{ site.url }}/registration"
            class="mx-auto bg-white text-gray-800 active:bg-gray-100 text-sm font-bold uppercase px-3 py-2 rounded-sm shadow hover:shadow-md outline-none focus:outline-none"
            type="button" style="transition: all 0.15s ease 0s;">
            <i class="fas fa-pen"></i> &thinsp; Registration
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>