---
layout: default
---

<div class="bg-white mt-10 py-5 shadow">
    <div class="container relative mx-auto">
        <div class="w-full flex flex-wrap items-center justify-center">
            <div class="md:w-5/12 mx-auto">
                <img src="{{ "/assets/img/malonek.jpg" | relative_url }}" class="w-48 mx-auto rounded-sm shadow-md" />
            </div>
    
            <div class="md:w-6/12 mx-auto">
                <p class="text-gray-700 text-2xl text-center">
                    {{ page.description }}
                </p>
    
                <div class="w-full flex flex-wrap items-center justify-around mx-auto mt-5">
                    <div class="">
                        <div class="my-1">
                            <i class="lni-calendar size-lg text-gray-400"></i>
                        </div>
                        <p class="font-bold text-gray-700">Event Starts</p>
                        <p class="text-gray-500">Friday, September 11, 2020</p>
                    </div>
                    <div class="">
                        <div class="my-1">
                            <i class="lni-map size-lg text-gray-400"></i>
                        </div>
                        <p class="font-bold text-gray-700">Event Location</p>
                        <p class="text-gray-500">University of Aveiro</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="">
    {{page.body}}
</div>