---
layout: default
---

<section class="relative bg-gray-200 pb-24">
    <div class="mt-10">
        <div class="container relative mx-auto">
            <div class="flex flex-wrap justify-center text-center pb-24">
                <div class="w-full lg:w-6/12 px-4">
                    <h2 class="text-4xl font-semibold">Program</h2>
                    <div class="text-lg leading-relaxed m-4 text-gray-600 markdown">
                        {{ page.program_description | markdownify }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="pb-24"></div>
</section>