---
layout: default
---

<section class="relative bg-gray-200 pb-24">
    <div class="mt-10">
        <div class="container relative mx-auto">
            <div class="flex flex-wrap justify-center text-center mb-24">
                <div class="w-full lg:w-6/12 px-4">
                    <h2 class="text-4xl font-semibold">Fee</h2>
                    <div class="text-lg leading-relaxed m-4 text-gray-600">
                        {{ page.fee_description | markdownify }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="relative bg-white pb-24">
    <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
        style="height: 80px; transform: translateZ(0px);">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
            version="1.1" viewBox="0 0 2560 100" x="0" y="0">
            <polygon class="text-white fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>

    <div class="pt-10">
        <div class="container relative mx-auto">
            <div class="flex flex-wrap justify-center text-center mb-24">
                <div class="w-full lg:w-6/12 px-4">
                    <h2 class="text-4xl font-semibold">Payment</h2>
                    <div class="text-lg leading-relaxed m-4 text-gray-600">
                        {{ page.payment_description | markdownify }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="relative bg-gray-900 pb-24">
    <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
        style="height: 80px; transform: translateZ(0px);">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
            version="1.1" viewBox="0 0 2560 100" x="0" y="0">
            <polygon class="text-gray-900 fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>

    <div class="pt-10">
        <div class="container relative mx-auto">
            <div class="flex flex-wrap justify-center text-center mb-12">
                <div class="w-full lg:w-6/12 px-4">
                    <h2 class="text-4xl text-gray-200 font-semibold">Registration</h2>
                    <div class="text-lg leading-relaxed m-4 text-gray-500">
                        {{ page.registration_description | markdownify }}
                    </div>
                </div>
            </div>

            <div class="flex flex-wrap justify-center text-center mb-12">
                <div class="w-full lg:w-6/12 px-4">
                    <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300">
                        <form id="registration-form" class="p-5 lg:p-10" method="POST" action="{{ "/.netlify/functions/send-registration-email" | relative_url }}">
                            <h4 class="text-2xl font-semibold">{{ page.registration_form_title }}</h4>
                            <div class="leading-relaxed mt-1 mb-4 text-gray-600">
                                {{ page.registration_form_description | markdownify }}
                            </div>
                            <div class="relative w-full mb-3 mt-8">
                                <label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="name">Full
                                    Name</label><input type="text"
                                    name="name"
                                    class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                                    placeholder="Full Name" style="transition: all 0.15s ease 0s;" />
                            </div>
                            <div class="relative w-full mb-3">
                                <label class="block uppercase text-gray-700 text-xs font-bold mb-2"
                                    for="email">Email</label><input type="email"
                                    name="email"
                                    class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                                    placeholder="Email" style="transition: all 0.15s ease 0s;" />
                            </div>
                            <div class="text-center mt-6">
                              <button
                                id="submit-button"
                                class="submit-idle text-white text-sm font-bold uppercase w-full md:w-4/12 py-3 rounded shadow outline-none focus:outline-none mr-1 mb-1"
                                type="submit"
                                style="transition: all 0.15s ease 0s;"
                              >
                                
                                <span id="submit-text">Send Request</span>

                              </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>